/*CSS RESET*/
@import url("https://fonts.googleapis.com/css?family=Muli:400,700");
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*HTML5 - Older browser support*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/*BODY*/
body {
  line-height: 1; }

/*LISTS - Clear bullets*/
ol, ul {
  list-style: none; }

/*QUOTES*/
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/*TABLES */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*FOCUS*/
:focus {
  outline: none; }

/*COLORS*/
/*FONTS*/
.wrapper {
  margin-left: auto;
  margin-right: auto; }

html {
  font-size: 62.5%;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100%; }

body {
  height: 100%; }

h1 {
  font-weight: bold;
  font-family: "Muli", sans-serif;
  font-size: 3.2rem; }
  @media (max-width: 1199px) {
    h1 {
      font-size: 2.4rem; } }
  @media (max-width: 599px) {
    h1 {
      font-size: 1.9rem; } }

h2 {
  font-weight: bold;
  font-family: "Muli", sans-serif;
  font-size: 2.4rem; }
  @media (max-width: 1199px) {
    h2 {
      font-size: 1.9rem; } }
  @media (max-width: 599px) {
    h2 {
      font-size: 1.6rem; } }

h3 {
  font-weight: bold;
  font-family: "Muli", sans-serif;
  font-size: 1.9rem; }
  @media (max-width: 1199px) {
    h3 {
      font-size: 1.6rem; } }
  @media (max-width: 599px) {
    h3 {
      font-size: 1.4rem; } }

h4 {
  font-weight: bold;
  font-family: "Muli", sans-serif;
  font-size: 1.6rem; }
  @media (max-width: 1199px) {
    h4 {
      font-size: 1.4rem; } }
  @media (max-width: 599px) {
    h4 {
      font-size: 1.3rem; } }

h5 {
  font-weight: bold;
  font-family: "Muli", sans-serif;
  font-size: 1.4rem; }

h6 {
  font-weight: bold;
  font-family: "Muli", sans-serif;
  font-size: 1.3rem; }

.wrapper {
  max-width: 120rem;
  min-height: 100%;
  position: relative; }

p {
  font-size: 1.4rem; }
  @media (max-width: 1199px) {
    p {
      font-size: 1.3rem; } }
  @media (max-width: 599px) {
    p {
      font-size: 1.3rem; } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

header img {
  margin: 3rem 0 1rem 0; }

header h1 {
  margin: 0 0 1rem 0;
  cursor: pointer; }

header p {
  color: #aaa;
  text-align: center; }

.animate {
  -webkit-animation: twirl 1s ease-in 0s 1 paused, roll 1s ease-out 1.2s 1 paused;
          animation: twirl 1s ease-in 0s 1 paused, roll 1s ease-out 1.2s 1 paused; }

.change {
  opacity: 0;
  -webkit-animation: fadeIn 2s ease-in 0s 1 forwards paused;
          animation: fadeIn 2s ease-in 0s 1 forwards paused; }

@-webkit-keyframes twirl {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-perspective: 1000px;
            perspective: 1000px; }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-perspective: none;
            perspective: none; } }

@keyframes twirl {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-perspective: 1000px;
            perspective: 1000px; }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-perspective: none;
            perspective: none; } }

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-perspective: 1000px;
            perspective: 1000px; }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    -webkit-perspective: none;
            perspective: none; } }

@keyframes roll {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-perspective: 1000px;
            perspective: 1000px; }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    -webkit-perspective: none;
            perspective: none; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

main {
  padding: 0 0 7.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff; }

.info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: slideOut 0.5s ease-out forwards;
          animation: slideOut 0.5s ease-out forwards; }
  .info::after {
    content: ' ';
    white-space: pre;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 7rem;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.75; }

main article {
  margin: 1.5rem;
  width: calc(100% / 3 - 6rem);
  -ms-flex-item-align: baseline;
      align-self: baseline;
  text-align: left;
  position: relative; }
  main article:hover .info {
    -webkit-animation: slideIn 0.5s ease-in;
            animation: slideIn 0.5s ease-in; }
  @media (max-width: 599px) {
    main article {
      display: block;
      width: 100%; } }

p:nth-child(2) {
  padding-top: 1rem;
  z-index: 2;
  color: #fff; }
  p:nth-child(2)::before {
    content: url("/images/heart.svg");
    padding-right: 1rem;
    vertical-align: sub; }

p:nth-child(1) {
  z-index: 2;
  color: #fff; }
  p:nth-child(1)::before {
    content: url("/images/user-icon.svg");
    padding-right: 1rem;
    vertical-align: sub; }

article img {
  width: 100%; }

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes slideIn {
  from {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0; } }

@keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0; } }

footer {
  width: 100%;
  height: 7.5rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer a {
    color: #aaa; }
