@import 'base/reset';
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/placeholders';
@import 'base/base';
@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';