/*COLORS*/
$neutral-color: #fff;
$light-text: #aaa;
$negative-color: #000;
$dark-text: #2d2d2d;

/*FONTS*/
$heading: "Muli", sans-serif;
$h1-size: 3.2rem;
$h2-size: 2.4rem;
$h3-size: 1.9rem;
$h4-size: 1.6rem;
$h5-size: 1.4rem;
$h6-size: 1.3rem;