main {
    padding: 0 0 7.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $neutral-color;
}

.info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    animation: slideOut 0.5s ease-out forwards;
    
    &::after {
        content: ' ';
        white-space: pre;
        position: absolute;
        background-color: $negative-color;
        width: 100%;
        height: 7rem;
        left: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0.75;
    }
}

main article {
    margin: 1.5rem;
    width: calc(100% / 3 - 6rem);
    align-self: baseline;
    text-align: left;
    position: relative;
    
    &:hover .info {
        animation: slideIn 0.5s ease-in;
    }
    
    @include mq(small) {
        display: block;
        width: 100%;
    }
}

p:nth-child(2) {
    padding-top: 1rem;
    z-index: 2;
    color: $neutral-color;
    
    &::before {
        content: url("/images/heart.svg");
        padding-right: 1rem;
        vertical-align: sub;
    }
}

p:nth-child(1) {
    z-index: 2;
    color: $neutral-color;
    
    &::before {
        content: url("/images/user-icon.svg");
        padding-right: 1rem;
        vertical-align: sub;
    }
    
}

article img {
    width: 100%;
}

@keyframes slideIn {
    
    from {transform: translateY(30%); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

@keyframes slideOut {
    
    from {transform: translateY(0); opacity: 1;}
    to {transform: translateY(30%); opacity: 0;}
}