header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    margin: 3rem 0 1rem 0;
}

header h1 {
    margin: 0 0 1rem 0;
}

header p {
    color: $light-text;
}